<!-- <!DOCTYPE html>
<html>
    <head>
        <title>test</title>
    </head>
    <body>
        {% for row in output_data %} 
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
            </tr>
        {% endfor %}    
        <!-- <p>Username : {{ questioncount }}</p>
        <p>Email : {{ questioncount }}</p> -->
<!--    </body>
</html> -->
<!DOCTYPE html>
<html>
    <head>
        <title>test</title>
    </head>
    <body>
        <p>Total Questions : {{user.question}}</p>
        <p>Total Correct : {{user.correct}}</p>
        <p>Total Wrong : {{user.wrong}}</p>
    </body>
</html>
